<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Kaimera"
        tools:targetApi="31">
        <activity
            android:name=".LauncherActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".camera.ui.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar" />

        <activity
            android:name=".gallery.ui.GalleryActivity"
            android:label="@string/gallery"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar"
            android:parentActivityName=".camera.ui.MainActivity" />

        <activity
            android:name=".camera.ui.PreviewActivity"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar" />
        <activity
            android:name=".camera.ui.SettingsActivity"
            android:label="Settings"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar"
            android:parentActivityName=".camera.ui.MainActivity" />
        <activity
            android:name=".gallery.ui.MediaViewerActivity"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar" />
            
        <activity
            android:name=".browser.ui.BrowserActivity"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar"
            android:windowSoftInputMode="adjustResize"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden" />
            
        <activity
            android:name=".files.ui.FileExplorerActivity"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar" />
        <activity
            android:name=".colorlight.ui.ColorLightActivity"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar"
            android:screenOrientation="portrait" />
        <activity
            android:name=".debug.ui.DebugLogActivity"
            android:label="Debug Logs"
            android:theme="@style/Theme.MaterialComponents.DayNight"
            android:parentActivityName=".camera.ui.MainActivity" />
        <activity
            android:name=".chronometer.ui.ChronometerActivity"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mms.ui.MmsActivity"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LauncherSettingsActivity"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar"
            android:screenOrientation="portrait"
            android:parentActivityName=".LauncherActivity" />

        <activity
            android:name=".notes.ui.NoteActivity"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".sphereqix.SphereQixActivity"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar"
            android:screenOrientation="portrait"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize" />

        <activity
            android:name=".text3d.Text3DActivity"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar"
            android:screenOrientation="portrait"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>
